<div>
    {{#if data}}
            <table class="table table-hover table-bordered text-center">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Count of billings</th>
                    </tr>
                </thead>
                <tbody class="table-cart">
                    {{#each data}}
                    <tr>
                        <th><a href="/admin/billings/{{this.account_id}}">{{this.account_id}}</a></th>
                        <th>{{this.count}}</th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    {{else}}
        <div class="alert alert-danger" role="alert">Can not find any billings </div>
    {{/if}}
</div>
