<div>
    {{#if flashMessage}}
        <div class="alert alert-success" role="alert">{{flashMessage}}</div>
    {{/if}}
    {{#if data}}
        <form method="post">
            <div class="form-group">
                <table class="table table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th style="display: none"></th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Delevery To</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="table-cart">
                        {{#data}}
                        {{#ifStatus status }}
                            <tr style="background-color:#868282;">
                                <th style="display: none"><input name="id" value="{{id}}"/></th>
                                <th>{{ngay_dat_hang}}</th>
                                <th>{{total}}</th>
                                <th>{{this.delivery_to}}</th>
                                <th>
                                    <select class="form-control" name="status" style="background-color: #868282" >
                                        {{#dataOption}}
                                            {{#ifCondition this ../this.status}}
                                                <option selected>{{this}}</option>
                                            {{else}}
                                                <option>{{this}}</option>
                                            {{/ifCondition}}
                                        {{/dataOption}}
                                    </select>
                                </th>
                            </tr>
                        {{else}}
                            <tr>
                                <th style="display: none"><input name="id" value="{{id}}"/></th>
                                <th>{{ngay_dat_hang}}</th>
                                <th>{{total}}</th>
                                <th>{{this.delivery_to}}</th>
                                <th>
                                    <select class="form-control" name="status" >
                                        {{#dataOption}}
                                            {{#ifCondition this ../this.status}}
                                                <option selected>{{this}}</option>
                                            {{else}}
                                                <option>{{this}}</option>
                                            {{/ifCondition}}
                                        {{/dataOption}}
                                    </select>
                                </th>
                            </tr>
                        {{/ifStatus}}
                        {{/data}}
                    </tbody>
                </table>
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-success"  onclick="overlayShow()">Save</button>
            </div>
        </form>
    {{else}}
        <div class="alert alert-danger" role="alert">Can not find any billings </div>
    {{/if}}
</div>
