<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <title>Quản lí bán hàng</title>
      <link rel='stylesheet' href='/stylesheets/admin.css' type="text/css" />
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
      <script src="/javascripts/js.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-fixed-top list-`group` col-md-2">
                    <a href="/" class="list-group-item admin-active">Menu</a>
                    <a href="/admin/assortment" class="list-group-item">Assortments</a>
                    <a href="/admin/producer" class="list-group-item">Producers</a>
                    <a href="/admin/products" class="list-group-item">Products</a>
                    <a href="/admin/billings" class="list-group-item">Billings</a>
                    <a href="/admin/users" class="list-group-item">Users</a>
                    <a href="/logout" class="list-group-item">Logout</a>
                </div>
                <div class="panel panel-custom col-md-offset-2">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{title}}</h3>
                    </div>
                    <div class="panel-body">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
