<div class="row">
    {{#if flashMessage}}
        <div class="alert alert-success" role="alert">{{flashMessage}}</div>
    {{/if}}
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-6  detail-product">
            <input type="file" name="hinh_anh" class="form-control-file" onchange="changeImage(this)" accept="image/png,image/jpeg" />
            <img id="image-preview" />
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Name:</label><input  class="form-control" name="ten_san_pham" required />
                <label>Price:</label> <input type="number" min="1"  class="form-control" name="gia_ban" required />
                <label>Description:</label> <input  class="form-control" name="mo_ta" required />
                <label>Made:</label> <input class="form-control" name="xuat_xu" required />
                <label>Type:</label>
                    <select class="form-control" name="loai">
                        {{#each dataLSP}}
                            <option>{{this.loai}}</option>
                        {{/each}}
                    </select>
                <label>Producer:</label>
                    <select class="form-control" name="nha_san_xuat" >
                        {{#each dataNSX}}
                            <option>{{this.nha_san_xuat}}</option>
                        {{/each}}
                    </select>
                <label>Quantity:</label> <input type="number" class="form-control" name="so_luong" min="1" required />
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>
