<div>
    {{#if flashMessage}}
        <div class="alert alert-success" role="alert">{{flashMessage}}</div>
    {{/if}}
    <a href="/admin/products/add" class="pull-left" style="margin-top:8px;"><button class="btn btn-success" style="margin-bottom: 5px;">Add products</button></a>
    <form class="navbar-form navbar-left" action="/search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" id="q" name="q">
        </div>
        <div class="form-group">
            <select class="form-control" id="critical" name="critical">
                <option>name</option>
                <option>price</option>
                <option>assortment</option>
                <option>producer</option>
                <option>made</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info">Search</button>
    </form>
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table-cart">
            {{#each data}}
            <tr>
                <th>{{this.ten_san_pham}}</th>
                <th><img src="{{this.hinh_anh}}" /></th>
                <th>${{this.gia_ban}}</th>
                <th><a href="/admin/products/edit/{{this.id}}"><button class="btn btn-primary">Edit</button></a></th>
                <th><button onclick="confirmDelete({{this.id}})" type="button" class="btn btn-danger" data-toggle="modal" data-target=".confirm-delete">Delete</button></th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="modal fade confirm-delete" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Do you want to delete this product?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <a href="#"><button type="button" class="btn btn-danger">Yes</button></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
