<div class="col-md-6 col-md-offset-3">
    {{#if flashMessage}}
        <div class="alert alert-success" role="alert">{{flashMessage}}</div>
    {{/if}}
    {{#if data}}
    <form method="post">
        <div class="form-group type-products">
            {{#each data}}
                <input value="{{this.nha_san_xuat}}" class="form-control" name="nhasx" />
                <input value="{{this.id}}" name="id" type="hidden" />
            {{/each}}
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" onclick="addProducers()" type="button">Add</button>
            <button class="btn btn-success"  onclick="overlayShow()">Save</button>
        </div>
    </form>
    {{/if}}
</div>
