<div class="row">
    <div class="col-md-6  detail-product">
        <img src="{{data.hinh_anh}}" alt="{{data.ten_san_pham}}">
    </div>
    <div class="col-md-6">
        {{#if flashMessage}}
            <div class="alert alert-success" role="alert">{{flashMessage}}</div>
        {{/if}}
        <form method="post">
            <div class="form-group">
                <label>Name:</label><input value="{{data.ten_san_pham}}" class="form-control" name="ten_san_pham" />
                <label>Image:</label> <input value="{{data.hinh_anh}}" class="form-control" name="hinh_anh" />
                <label>Price:</label> <input value="{{data.gia_ban}}" class="form-control" name="gia_ban" />
                <label>Views:</label> <input value="{{data.so_luot_xem}}" class="form-control" name="so_luot_xem" />
                <label>Solds:</label> <input value="{{data.so_luong_ban}}" class="form-control" name="so_luong_ban" />
                <label>Description:</label> <input value="{{data.mo_ta}}" class="form-control" name="mo_ta" />
                <label>Made:</label> <input value="{{data.xuat_xu}}" class="form-control" name="xuat_xu" />
                <label>Type:</label>
                    <select class="form-control" name="loai">
                        {{#each dataLSP}}
                            {{#ifCondition this.loai ../data.loai}}
                                <option selected>{{this.loai}}</option>
                            {{else}}
                                <option>{{this.loai}}</option>
                            {{/ifCondition}}
                        {{/each}}
                    </select>
                <label>Producer:</label>
                    <select class="form-control" name="nha_san_xuat" >
                        {{#each dataNSX}}
                            {{#ifCondition this.nha_san_xuat ../data.nha_san_xuat}}
                                <option selected>{{this.nha_san_xuat}}</option>
                            {{else}}
                                <option>{{this.nha_san_xuat}}</option>
                            {{/ifCondition}}
                        {{/each}}
                    </select>
                <label>Quantity:</label> <input value="{{data.so_luong}}" class="form-control" name="so_luong" />
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-success"  onclick="overlayShow()">Save</button>
            </div>
        </form>
    </div>
</div>
