{{#if data}}
<div class="list-group">
    {{#each data}}
        <a href="/assortment?typeproducts={{this.loai}}" class="list-group-item">{{this.loai}}</a>
    {{/each}}
</div>
{{else}}
<div class="alert alert-danger" role="alert">Không có nhà sản xuất nào</div>
{{/if}}
