<div>
    {{#if data}}
        <h3>Date: <label>{{data.ngay_dat_hang}}</label></h3>
        <h3>Total: <label>{{data.total}}</label></h3>
        <h3>Delivery to: <label>{{data.delivery_to}}</label></h3>
        <h3>Status: <label>{{data.status}}</label></h3>
        <table class="table table-hover table-bordered text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Images</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody class="table-cart">
                {{#each dataDetail}}
                <tr>
                    <th><a href="/details/{{this.id}}">{{this.ten_san_pham}}</a></th>
                    <th><img src="{{this.hinh_anh}}" /></th>
                    <th>{{this.gia_ban}}$</th>
                    <th>{{this.quantity}}</th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="alert alert-danger" role="alert">You haven't bought product yet. </div>
    {{/if}}
</div>
