<div>
    {{#if data}}
            <table class="table table-hover table-bordered text-center">
                <thead>
                    <tr>
                        <th>Ngày đặt hàng</th>
                        <th>Tổng giá</th>
                        <th>Nơi nhận hàng</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="table-cart">
                    {{#each data}}
                    <tr>
                        <th><a href="/billing/{{this.id}}">{{this.ngay_dat_hang}}</a></th>
                        <th>{{this.total}}</th>
                        <th>{{this.delivery_to}}</th>
                        <th>{{this.status}}</th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    {{else}}
        <div class="alert alert-danger" role="alert">You haven't bought product yet. </div>
    {{/if}}
</div>
