<div>
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Images</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tfoot>
            {{#if data}}
            <tr>
                <th colspan="5" style="text-align:right">Total: ${{total}}</th>
                <th><a href="/cart/checkout"><button class="btn btn-success">Checkout</button></a></th>
            </tr>
            {{/if}}
        </tfoot>
        <tbody class="table-cart">
            {{#each data}}
            <tr>
                <th>{{this.ten_san_pham}}</th>
                <th><img src="{{this.hinh_anh}}" /></th>
                <th>${{this.gia_ban}}</th>
                <th>{{this.quantity}}</th>
                <th>${{this.totalPrice}}</th>
                <th><button class="btn btn-danger"><a href="/cart/remove/{{this.id}}">Remove</a></button></th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
