<div>
    {{#if dataIgnore}}
        {{#each dataIgnore}}
            <div class="alert alert-danger" role="alert">Sorry, {{this.ten_san_pham}} has only {{this.quantity}} products. Back and remove these products</div>
        {{/each}}
    {{/if}}
    {{#if userdata}}
    <div class="col-md-6 col-md-offset-3 cl-profiles">
        <form method="post" action="/cart/checkout">
            <label>Username</label>
            <input class="form-control" value="{{userdata.username}}" type="text" readonly>
            <label>Firstname</label>
            <input class="form-control" value="{{userdata.first_name}}" type="text" readonly>
            <label>Lastname</label>
            <input class="form-control" value="{{userdata.last_name}}" type="text" readonly>
            <label>Delivery address</label>
            <input class="form-control" value="{{userdata.address}}" name="delivery_to" type="text" placeholder="Address" required />
            <label>Total</label>
            <input class="form-control" value="{{total}}$" name="total" type="text" readonly>
            <button class="btn btn-success pull-right" type="submit" >Checkout</button>
        </form>
        <a href="/cart"><button class="btn btn-danger">Back to the cart</button></a>
    </div>
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Images</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody class="table-cart">
            {{#each data}}
            <tr>
                <th>{{this.ten_san_pham}}</th>
                <th><img src="{{this.hinh_anh}}" /></th>
                <th>${{this.gia_ban}}</th>
                <th>{{this.quantity}}</th>
                <th>${{this.totalPrice}}</th>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        {{#if flashmessage}}
            <div class="alert alert-success" role="alert">{{flashmessage}}</div>
        {{else}}
            <div class="alert alert-danger" role="alert">Please add products to the cart first</div>
        {{/if}}
    {{/if}}
</div>
