<div class="detail-product">
    {{#if data}}
    <div class="row">

        <div class="col-md-6">
            <img src="{{data.hinh_anh}}" alt="{{data.ten_san_pham}}">
        </div>
        <div class="col-md-6">
            <p>Tên sản phẩm: <label><i class="xxxx">{{data.ten_san_pham}}</i></label></p>
            <p>Giá bán: <label><i>{{data.gia_ban}}$</i></label></p>
            <p>Số lượt xem: <label><i>{{data.so_luot_xem}}</i></label></p>
            <p>Số lượng bán: <label><i>{{data.so_luong_ban}}</i></label></p>
            <p>Mô tả: <label><i>{{data.mo_ta}}</i></label></p>
            <p>Xuất xứ: <label><i>{{data.xuat_xu}}</i></label></p>
            <p>Loại: <label><i>{{data.loai}}</i></label></p>
            <p>Nhà sản xuất: <label><i>{{data.nha_san_xuat}}</i></label></p>
            <div>
                <a href="/cart/checkout" class="btn btn-success" role="button">Checkout</a>
                <a href="/cart/add/{{data.id}}" class="btn btn-primary" role="button">Add</a>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="products-type">
        <h3>5 Sản Phẩm Cùng Loại</h3>
        <div class="row">
            <div class="homepage-div-thumbnail">
                {{#each dataAssortment}}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="{{this.hinh_anh}}" alt="{{this.ten_san_pham}}">
                            <div class="caption">
                            <h3>{{this.ten_san_pham}}</h3>
                            <p>{{this.mo_ta}}</p>
                            <p>
                                <a href="/details/{{this.id}}" class="btn btn-primary" role="button">Xem</a>
                                <a href="#" class="btn btn-success" role="button">Thêm</a>
                            </p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <h3>5 Sản Phẩm Cùng Nhà Sản Xuất</h3>
        <div class="row">
            <div class="homepage-div-thumbnail">
                {{#each dataProducer}}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="{{this.hinh_anh}}" alt="{{this.ten_san_pham}}">
                            <div class="caption">
                            <h3>{{this.ten_san_pham}}</h3>
                            <p>{{this.mo_ta}}</p>
                            <p>
                                <a href="/details/{{this.id}}" class="btn btn-primary" role="button">Xem</a>
                                <a href="#" class="btn btn-success" role="button">Thêm</a>
                            </p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>
