<!DOCTYPE html>
<html>
  <head>
    <title>Quản lí bán hàng</title>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" id="q" name="q">
                </div>
                <div class="form-group">
                    <select class="form-control" id="critical" name="critical">
                        <option>name</option>
                        <option>price</option>
                        <option>assortment</option>
                        <option>producer</option>
                        <option>made</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Search</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/cart" class="a-shopping-cart"><span class="fas fa-shopping-cart" id="shopping-cart-number">
                    {{#if session.cart.quantity}}
                        Cart({{session.cart.quantity}})
                    {{else}}
                        Cart(0)
                    {{/if}}
                </span></a></li>
                {{#if session.passport.user}}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session.passport.user.username}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/account/profiles">Update profile</a></li>
                    <li><a href="/billing">History</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                {{/if}}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-fixed-top list-group col-md-2">
                    <a href="/" class="list-group-item active">Menu</a>
                    <a href="/assortment" class="list-group-item">Assortments</a>
                    <a href="/producer" class="list-group-item">Producers</a>
                </div>
                <div class="panel panel-primary col-md-offset-2">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{title}}</h3>
                    </div>
                    <div class="panel-body">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
