<div class="row">
    <div class="homepage-div-thumbnail">
        {{#each data}}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{this.hinh_anh}}" alt="{{this.ten_san_pham}}">
                    <div class="caption">
                    <h3>{{this.ten_san_pham}}</h3>
                    <p>{{this.mo_ta}}</p>
                    <p>
                        <a href="/details/{{this.id}}" class="btn btn-primary" role="button">Details</a>
                        <a href="/cart/add/{{this.id}}" class="btn btn-success" role="button">Add</a>
                    </p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
