{{#if data}}
<div class="list-group">
    {{#each data}}
        <a href="/producer?typeproducts={{this.nha_san_xuat}}" class="list-group-item">{{this.nha_san_xuat}}</a>
    {{/each}}
</div>
{{else}}
<div class="alert alert-danger" role="alert">Không có nhà sản xuất nào</div>
{{/if}}
