<div class="col-md-6 col-md-offset-3">
    {{#if flashmessage}}
        <div class="alert alert-success" role="alert">{{flashmessage}}</div>
    {{/if}}
    {{#if data}}
        <form method="post" action="/account/profiles">
            <h1 class="text-center">Update profiles</h1>
            <label>Username</label>
            <input class="form-control" value="{{data.username}}" name="username" readonly/>
            <label>First name</label>
            <input type="text" class="form-control" name="first_name" value="{{data.first_name}}" placeholder="First name" required />
            <label>Last name</label>
            <input type="text" class="form-control" name="last_name" value="{{data.last_name}}" placeholder="Last name" required />
            <label>Age</label>
            <input type="number" class="form-control" name="age" value="{{data.age}}" placeholder="Age" min="1" />
            <label>Address</label>
            <input type="text" class="form-control" name="address" value="{{data.address}}" placeholder="Address" />
            <button class="btn btn-primary pull-right" style="margin-top:5px;" type="submit">Save</button>
        </form>
    {{else}}
        <div class="alert alert-danger" role="alert">Update profiles failed</div>
    {{/if}}
</div>
