<head>
    <link rel='stylesheet' href='/stylesheets/login.css' type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/javascripts/js.js" type="text/javascript"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<div>
    <form class="form-signin" method="post" action="/signup">
        <h1 class="h3 mb-3 font-weight-normal">Welcome to our website</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <div class="g-recaptcha" data-sitekey="6LeQziYUAAAAAOvaZEg7KmoIbqZI8UqJcBgmwlSD" data-callback="recaptchaCallback"></div>
        <a href="/login">You got an account?</a>
        <button id="submitRegister" class="btn btn-lg btn-primary btn-block" type="submit" onclick="overlayShow()" disabled>Sign Up</button>
        <p class="mt-5 mb-3 text-muted">&copy; PTUDW</p>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
