.homepage-div-thumbnail {
    display: inline-block;
    width: 100%;
    padding: 5px;
}
.homepage-div-thumbnail > h3 {
    font-weight: bold;
}
.homepage-div-thumbnail .thumbnail  img {
    width: 200px;
    height: 200px;
}
.thumbnail .caption {
    text-align: right;
}
button > a {
    text-decoration: none !important;
    color: #FFFFFF;
}
button > a:hover {
    color: #FFFFFF;
}
.detail-product label {
    display: inline-block;
}
span {
    font-size: 20px;
}
.products-type {
    margin-top: 20px;
}
.detail-product img {
    height: 300px;
    width: 400px;
}
.thumbnail {
    min-height: 350px;
}
.caption h3 {
    font-size: 18px;
}
a.a-shopping-cart:hover {
    color: #2f95bd !important;
}
.cl-profiles  button {
    margin: 5px 0;
}

.admin-active {
    background-color: #33b78d !important;
}
.panel-custom {
    border-color: #33b78d !important;
}
.panel-custom > .panel-heading {
    background-color: #33b78d;
}
.table-cart img {
    height: 100px;
    width: 100px;
}
.type-products  input {
    margin-bottom: 5px;
}
textarea {
    resize: none;
    overflow: hidden !important;
}
#image-preview {
    margin-top: 30px;
}
