body {
    padding-top: 70px;
}
.homepage-div-thumbnail {
    display: inline-block;
    width: 100%;
    padding: 5px;
}
.homepage-div-thumbnail > h3 {
    font-weight: bold;
}
.homepage-div-thumbnail .thumbnail  img {
    width: 200px;
    height: 200px;
}
.row > .navbar-fixed-top {
    top: 70px;
}
.thumbnail .caption {
    text-align: right;
}
button > a {
    text-decoration: none !important;
    color: #FFFFFF;
}
button > a:hover {
    color: #FFFFFF;
}
.detail-product label {
    display: inline-block;
}
span {
    font-size: 20px;
}
.products-type {
    margin-top: 20px;
}
.detail-product img {
    height: 300px;
    width: 400px;
}
.thumbnail {
    min-height: 350px;
}
.caption h3 {
    font-size: 18px;
}
.table-cart img {
    height: 100px;
    width: 100px;
}
a.a-shopping-cart:hover {
    color: #2f95bd !important;
}
.cl-profiles  button {
    margin: 5px 0;
}
